* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

/* for the whole body */
body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    background-color: #1f2937;
}

/* header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

h3 {
    font-size: 1.5em;
    color: #f9faf8;
    flex: 1;
}

a {
    margin-left: 20px;
    color: #e5e7eb;
    text-decoration: none;
}

a:visited {
    color: #e5e7eb;
}

/* intro section */
div.left-side-intro > p {
    line-height: 1.5;
    margin-top: 10px;
    padding-right: 10px;
}

.left-side-intro h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    margin-top: 15px;
}

.intro-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    gap: 20px;
}

div.left-side-intro {
   flex: 1;
}

div.right-side-intro {
    flex: 1;
}

div.right-side-intro, img {
    width: 500px;
    height: 250px;
    float: right;
}

/* .main-info section */
.main-info {
    text-align: center;
    background-color: #fff;
}

.main-info, h2 {
    padding-top: 20px;
    color: #1f2937;
}

.info p {
    max-width: 200px;
}

.collective-info {
    color: #626262;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 50px 0;
}

.info {
    max-width: 200px;
    margin: 0 15px;
}

.info > img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
}

/* quote section */
.quote .author {
    text-align: end;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 20px;
    margin-right: 30px;
}

.quote {
    height: 350px;
    background-color: #e5e7eb;
    text-align: center;
    font-size: 2.5rem;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
    padding: 120px 200px;
}

/* last section */
.signup-container {
    background-color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-inner-ctn {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 900px;
    padding: 0 100px;
}

.signup-btn {
    border: 1.5px solid #f9faf8;
    border-radius: 7px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 1.2rem;
}

.signup-text h4 {
    font-size: 1.5rem;
    color: #f9faf8;
}

.signup-text p {
    color:#e5e7eb;
}

/* footer */
footer {
    background-color: #1f2937;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

/* media queries */
@media screen and (max-width: 1024px) {
    .main-container {
        padding: 0 100px;
    }

    .left-side-intro > h1 {
        font-size: 1.9rem;
        font-weight: 700;
    }

    div.left-side-intro > p {
        font-size: .9rem;
    }

    div.right-side-intro, img {
        width: 400px;
        height: auto;
        float: right;
    }
}

@media only screen and (max-device-width : 812px)  {
    /* top section */
    .main-container {
        padding: 0 30px;
    }

    .intro-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0;
        gap: 20px;
    }

    .left-side-intro h1 {
        font-size: 2rem;
        font-weight: 900;
        color: #f9faf8;
    }

    div.right-side-intro, img {
        width: 300px;
        height: auto;
        float: right;
    }

    /* info section */
    .collective-info {
        color: #626262;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px 0;
    }

    .main-info, h2 {
        font-size: 1.5rem;
        padding-top: 20px;
        color: #1f2937;
    }

    .info p {
        font-size: 1.2rem;
    }

    /* quote section */
    .quote .author {
        text-align: end;
        font-weight: bold;
        font-size: 1rem;
        margin-top: 20px;
        margin-right: 30px;
    }
    
    .quote {
        font-size: 1.5rem;
        padding: 120px 100px;
    }

    /* signup section */
    .signup-container {
        background-color: #fff;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .signup-inner-ctn {
        background-color: #3882f6;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 500px;
        text-align: center;
        padding: 0 50px;
    }
    
    .signup-btn {
        font-size: 1.3rem;
    }
    
    .signup-text h4 {
        font-size: 1.5rem;
    }

    .signup-text p {
        font-size: 1rem;
    }

    footer {
        font-size: .8rem;
        line-height: 100px;
    }
}

@media only screen and (max-device-width : 540px) {
    .signup-inner-ctn {
        background-color: #3882f6;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 350px;
        text-align: center;
        padding: 0 50px;
    }

    .signup-text h4 {
        font-size: 1.3rem;
    }

    .signup-text p {
        font-size: 1rem;
    }

    .signup-btn {
        font-size: 1rem;
    }
}