* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

header, .intro {
    background-color: #1f2937;
    color: #f9faf8;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

h3 {
    font-size: 24px;
}

a {
    margin: 0 5px;
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

a:visited {
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 40px 200px;
}

div.left-side-intro {
   padding-right: 50px;
   padding-top: 40px;
    
}

img.right-side-intro {
    max-width: 400px;
    height: auto;
}

.main-info {
    text-align: center;
}

.collective-info {
    color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;

}
.info {
    max-width: 300px;
}

.info img {
    border: 3px solid #3882f6;
    border-radius: 5px;
}